@model List<GetAllDestinationQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}
<div class="card">
    <h5 class="card-header">Rota Listesi (CQRS)</h5>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Şehir</th>
                    <th>Gün/Gece</th>
                    <th>FİYAT</th>
                    <th>Kontenjan</th>
                    <th>SİL</th>
                    <th>Güncelle</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var x in Model)
                {
                    <tr>
                        @{
                            count++;
                        }
                        <td>@count</td>
                        <td>@x.City</td>
                        <td>@x.DayNight</td>
                        <td>$@x.Price</td>
                        <td><span class="badge bg-label-primary me-1">@x.Capacity</span></td>
                        <td><a href="/Admin/DestinationCQRS/DeleteDestination/@x.Id" class="btn btn-danger">Sil</a></td>
                        <td><a href="/Admin/DestinationCQRS/GetDestinationById/@x.Id" class="btn btn-warning">Güncelle</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a style="margin-top:10px;color:black" href="/Admin/DestinationCQRS/AddDestination/" class="btn btn-success">Rota Ekle</a>
</div>

