
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Dinamik Excell Raporu İndirme</h3>
<br />
<a href="/Admin/Excel/DestinationExcelReport/" class="btn btn-secondary">Rotaların Excel Raporunu İndirin</a>
