@model Destination
<div class="py-5 w3l-homeblock1 text-center">
    <div class="container mt-md-3">
        <h3 class="blog-desc-big text-center mb-4">
            @Model.Description
        </h3>
        <div class="blog-post-align">
            <div class="blog-post-img">
                <a href="#"><img src="@Model.Guide.Image" alt="" class="rounded-circle img-fluid" /></a>
            </div>
            <div class="blog-post-info">
                <div class="author align-items-center mb-1">
                    <a href="#">Rehber, @Model.Guide.Name</a>
                </div>
                <ul class="blog-meta">
                    <li class="meta-item blog-lesson">
                        <span class="meta-value">Rota: @Model.City </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>