@model ForgetPasswordViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <h4 style="color:blue">Şifrenizi Yenilemek İçin Lütfen Mail Adresinizi Giriniz.</h4>
    <form method="post">
        <input type="text" asp-for="mail" class="form-control" placeholder="E-posta Adresi">
        <button style="margin-top:6px" class="btn btn-warning">Şifre Yenileme Linki Gönder</button>
    </form>
</div>