@model ResetPasswordViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <br />
    <h4 style="color:red">Şifrenizi Yenileyiniz</h4>
    <form method="post">
        <input type="text" asp-for="password" class="form-control" placeholder="Şifre">
        <input style="margin-top:6px" type="text" asp-for="confirmPassword" class="form-control" placeholder="Şifre Tekrar">
        <button style="margin-top:6px" class="btn btn-success">Şifreni Yenile</button>
    </form>
</div>