<div class="d-grid left-right mt-5 pb-md-5">
    <div class="buttons-singles tags">
        <h4>Etiketler :</h4>
        <a href="#blog-tag">Seyahat</a>
        <a href="#blog-tag">Gezi</a>
        <a href="#blog-tag">Hotel</a>
        <a href="#blog-tag">Kültür</a>
        <a href="#blog-tag">Tarih</a>
        <a href="#blog-tag">Dünya</a>
    </div>
    <div class="buttons-singles">
        <h4>Paylaş :</h4>
        <a href="#blog-share"><span class="fa fa-facebook" aria-hidden="true"></span></a>
        <a href="#blog-share"><span class="fa fa-twitter" aria-hidden="true"></span></a>
        <a href="#blog-share"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
        <a href="#blog-share"><span class="fa fa-pinterest-p" aria-hidden=" true"></span></a>
    </div>
</div>