@{
    Layout = null;
}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
@await Html.PartialAsync("/Areas/Member/Views/Member2Layout/HeadPartial.cshtml")
<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-gradient-x-purple-blue" data-col="2-columns">

    <nav class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light">
        <div class="navbar-wrapper">
            <div class="navbar-container content">
                <div class="collapse navbar-collapse show" id="navbar-mobile">
                    @await Html.PartialAsync("/Areas/Member/Views/Member2Layout/NavbarLeft.cshtml")
                    @await Component.InvokeAsync("NavbarLanguage")
                    @await Component.InvokeAsync("NavbarNotification")
                </div>
            </div>
        </div>
    </nav>

    @await Html.PartialAsync("/Areas/Member/Views/Member2Layout/SidebarPartial.cshtml")

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">
                <div class="content-header-left col-md-4 col-12 mb-2">
                    <h3 class="content-header-title">@ViewBag.v1</h3>
                </div>
                <div class="content-header-right col-md-8 col-12">
                    <div class="breadcrumbs-top float-md-right">
                        <div class="breadcrumb-wrapper mr-1">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="index.html">@ViewBag.v2</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    @ViewBag.v3
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
             @RenderBody()
            </div>
        </div>
    </div>
    @await Html.PartialAsync("/Areas/Member/Views/Member2Layout/ScriptPartial.cshtml")
</body>
</html>
