
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Statik Pdf Raporu</h3>
<br />
<a href="/Admin/PdfReport/StaticUserPdf" class="btn btn-danger">Pdf'e ulaşmak için tıklayınız</a>

